################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/MVCFirst/.vs/MVCFirst
/MVCFirst/MVCFirst/bin/Debug/netcoreapp3.1
/MVCFirst/MVCFirst/obj
