################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/MVCFirst/.vs/MVCFirst
/MVCFirst/MVCFirst/bin/Debug/netcoreapp3.1
/MVCFirst/MVCFirst/obj
/MVCwithEF/.vs/MVCwithEF
/MVCwithEF/MVCwithEF/bin/Debug/netcoreapp3.1
/MVCwithEF/MVCwithEF/obj
/LambdaApp/.vs
/LambdaApp/LambdaApp/bin/Debug/net7.0
/LambdaApp/LambdaApp/obj
/ContosoUni/.vs/ContosoUni
/ContosoUni/ContosoUni/bin/Debug/netcoreapp3.1
/ContosoUni/ContosoUni/obj
/IdentityApp/.vs/IdentityApp
/IdentityApp/IdentityApp/bin/Debug/netcoreapp3.1
/IdentityApp/IdentityApp/obj
/RolesApp/.vs/RolesApp
/RolesApp/RolesApp/bin/Debug/netcoreapp3.1
/RolesApp/RolesApp/obj
