################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/MVCFirst/.vs/MVCFirst
/MVCFirst/MVCFirst/bin/Debug/netcoreapp3.1
/MVCFirst/MVCFirst/obj
/MVCwithEF/.vs/MVCwithEF
/MVCwithEF/MVCwithEF/bin/Debug/netcoreapp3.1
/MVCwithEF/MVCwithEF/obj
/LambdaApp/.vs
/LambdaApp/LambdaApp/bin/Debug/net7.0
/LambdaApp/LambdaApp/obj
